.tns-outer
    position: relative
.tns-controls
    button
        display: flex
        justify-content: center 
        align-items: center
        position: absolute
        top: 50%
        margin-top: -30px
        z-index: 20
        background-color: rgba(0,0,0,.5)
        height: 70px
        width: 60px
        font-size: 1.6em
        font-weight: bold
        border: 0
        color: white
    button:first-child
        left: 0px
    button:last-child
        right: 0px
.tns-nav

button[data-action="stop"],
button[data-action="start"]
    display: none

@include media-breakpoint-down(xs)
    .tns-controls
        button:first-child
            left: -10px
        button:last-child
            right: -10px
